#!/bin/sh

{{ if eq .chezmoi.os "linux" -}}

sudo apt install ripgrep zsh -y
chsh -s $(which zsh)

{{ else if eq .chezmoi.os "darwin" -}}

brew install ripgrep zsh

{{ end -}}

curl -sS https://starship.rs/install.sh > /tmp/starship-install.sh
bash /tmp/starship-install.sh --bin-dir $(HOME)/.local/bin -y
