#!/bin/bash

{{ if eq .chezmoi.os "linux" -}}

sudo apt install ripgrep zsh -y
sudo chsh -s $(which zsh) $USER

{{ else if eq .chezmoi.os "darwin" -}}
brew install ripgrep zsh
{{ end -}}
curl -sS https://starship.rs/install.sh > /tmp/starship-install.sh
sh /tmp/starship-install.sh --bin-dir ${HOME}/.local/bin -y
rm /tmp/starship-install.sh
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" -y || true
